body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  p{

    color: orange;
    position: center;
    font-family: Merienda;
    font-size: 3em;
 }

 .separacion {

    background: whitesmoke;
    padding: 1px;
}


.contenedorFoto {
    background-color: black;
    background-size: cover;
    background-position-y: center;
    padding: 50px;
    border: 1em;
}

img {
    width: 220px;
    height: 220px;
}
#map{
    width:400px;
    height:300px;
    border:1px solid;
  }

  .container{
    border-radius: 30px;  
    height: 50vh;  
  }
  #titulo{
    margin-top: 50px;
    color: red;
  }
  
  #subtitulo{
    padding-top: 20px;
    color: red;
  }

  #busqueda{
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
  }

  .restaurant {
    font-weight: bold;
    padding-bottom: 10px;
    background-color: whitesmoke;
    margin: 90px;
    padding-top: 10px;
    border-radius: 30px;
    
  }
  
  #boton{
    margin-top: 30px;
    border-radius: 5px;
    width: 90px;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
  }
  